nav { text-align: right;
    background-color:#919091; 
}
nav ul li { display: inline-block; }
.nav_item {

	padding: 10px 20px;
	display: inline-block;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
    width: 100%;
}

li {
    float: left;
    display: block;
}


.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position: relative;
    font-family: 'Ubuntu', sans-serif;
	padding: 20px 80px;
  margin: 10px 73px 35px 5px;
  float: inherit;
	border-radius: 15px;
	font-size: 35px;
	color: #FFF;
	text-decoration: none;	
}

.blue
{
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.red
{
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

.green
{
	background-color: #82BF56;
	border-bottom: 5px solid #669644;
	text-shadow: 0px -2px #669644;
}

.yellow
{
	background-color: #F2CF66;
	border-bottom: 5px solid #D1B358;
	text-shadow: 0px -2px #D1B358;

}

.purple
{
	background-color: #9a60a5;
	border-bottom: 5px solid #754b7f;
	text-shadow: 0px -2px #754b7f;
}

.orange
{
	background-color: #f1a21f;
	border-bottom: 5px solid #c9821b;
	text-shadow: 0px -2px #c9821b;
}

.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}
section { padding: 5px; }

.sectionOne {
height: 133vh;	
text-align: center;
    background-color:whitesmoke;
    background-image: url(../images/background.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.sectionTwo {
height: 90vh;	
background-color: #919091;
text-align:left;
}

.sectionThree {
height: 110vh;	
background-color: #919091;
text-align: left;
}

.sectionFour {
height: 110vh;	
background-color: #919091;
text-align: left;
}

.sectionFive {
height: 100vh;	
background-color: #919091;
text-align: left;
}

.sectionSix {
height: 90vh;	
background-color: #919091;
text-align: left;
}

.sectionSeven {
height: 10vh;	
background-color: #919091;
text-align: left;
}

.Magnesium {width: 35vw; float: right;
padding-right: 5em;
padding-top: 1em;}
.Mg {width:30vw; float:left;
padding-left: 5em;
padding-top: 6em;}

.Helium {width: 35vw; float: right;
padding-right: 5em;
padding-top: 0.3em;}
.He {width:30vw; float:left;
padding-left: 5em;
padding-top: 3em;}

.Lithium {width: 35vw; float: right;
padding-right: 5em;
padding-top: 3em;}
.Li {width:30vw; float:left;
padding-left: 5em;
padding-top: 3em;}

.Carbon {width: 35vw; float: right;
padding-right: 5em;
padding-top: 0em;}
.C {width:30vw; float:left;
padding-left: 5em;
padding-top: 5em;}

.Calcium {width: 35vw; 
    float: right;
padding-right: 5em;
padding-top: 1em;}
.Ca {width:30vw; 
    float:left;
padding-left: 5em;
padding-top: 3em;}

.left {float: left;}
.right {float: right;}


h1 {
    color: #9a60a5;
font-family: 'Bungee', cursive;
    text-align: center;
    font-size: 8em;
    padding-top: 0em;
}

h2 {
    color: #fff;
font-family: 'Bungee', cursive;
    text-align: center;
    font-size: 3em;
    padding-top: -0.2em;
}
p {
    color: #000;
font-family: 'Ubuntu', sans-serif;
    font-size: 1.5em;
    padding-top: 0;
}

.madeby {
    
}
